#whatsapp{
    width: 3rem;
    height: 3rem;
    bottom: 0.7rem;
    right: 0.7rem;
    background-size: auto;
    position: fixed;
    z-index: 999;
}

.imgstortas{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 260px;
    height: 340px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 3px 3px 3px 3px #CDCBCC;
    margin-left: 2.5rem;
}