/* --->Boton whatsapp estilos*/

#whatsapp{
    width: 3rem;
    height: 3rem;
    bottom: 0.7rem;
    right: 0.7rem;
    background-size: auto;
    position: fixed;
    z-index: 999;
}

/* --->Nav estilos*/
nav{
    font-size: 20px;
}

/* --->Imagen logo, estilos*/
#imglogo{
    width: 25%;
}

.col-12.img{
    justify-content: center;
    display: flex;
    align-items: center;
}



/* --->Publicaciones de instagram estilos*/
.row.pubsinsta iframe{
    border-radius: 2rem;
    width: 320px; 
    height: 640px;
    margin-left: 1.5rem;
    padding: 0;
    border: 6px solid #CDCBCC;
    margin-top: 2rem;
}
