body{
    background-color: #FFC4C4 !important;
    font-family: 'Mukta', sans-serif !important;
}

.container-fluid.principal{
    background-image: url(../img/fondoslidernuevo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* --->Boton whatsapp estilos*/

#whatsapp{
    width: 3rem;
    height: 3rem;
    bottom: 0.7rem;
    right: 0.7rem;
    background-size: auto;
    position: fixed;
    z-index: 999;
}

/* --->Nav estilos*/
nav{
    font-size: 20px;
    background-color: transparent;
}

/* --->Imagen logo, estilos*/
#imglogo{
    width: 25%;
}

.col-12.img{
    justify-content: center;
    display: flex;
    align-items: center;
}

.row.img{
    margin-top: 2rem;
    padding: 0;
}


/* --->Publicaciones de instagram estilos*/

.row.pubsinsta{
    text-align: center;
    height: auto;
    justify-content: center;
}

.row.pubsinsta iframe{
    border-radius: 2rem;
    border: 0px solid white;
    width: 300px;
    height: 640px;
    max-width: 100%;
}

#title_1{
    font-family: 'Caveat', cursive;
    color: #E22825;
}

#title_2{
    font-family: 'Caveat', cursive;
    color: #E22825;
}

#title_we{
    font-family: 'Caveat', cursive;
}

#text_we{
    font-family: 'Caveat', cursive;
    font-size: 1.7rem;
    color: gray;
}

#title_designs{
    font-family: 'Caveat', cursive;
    font-size: 1.7rem;
}

#title_footer{
    font-family: 'Caveat', cursive;
}

.row.sobre_nosotros{
    background-image: url(../img/fondo_sobrenosotros.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.row.subscribe_news{
    background-image: url(../img/fondo_news.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contenido_news{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.contenido_news input{
    width: 25rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: 0px;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 1rem;
    max-width: 100%;
}

.contenido_news button{
    width: 8rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: 0px;
    outline: none;
    background-color: red;
    color: white;
}

.contenido_news button:hover{
    background-color: #E61313;
}

.nav-item{
    align-items: end;
    display: flex;
    justify-content: end;

}


