body{
    background: #7F7FD5;
background: -webkit-linear-gradient(to top, #7F7FD5, #86A8E7, #91EAE4);  
background: linear-gradient(to top, #7F7FD5, #86A8E7, #91EAE4);
}

header{
    text-align: center;
    color: blue;
    font-family: 'Skranji', cursive;
    position: relative;
    z-index: 1;
}

nav{
    text-align: right;
    font-family: 'Skranji', cursive;
    position: relative;
    z-index: 2;
}

#imglogo{
    width: 25%;
}

#whatsapp{
    width: 3rem;
    height: 3rem;
    bottom: 1rem;
    right: 1rem;
    background-size: cover;
    position: fixed;
}

.pubsinsta iframe{
    border-radius: 1rem;
    width: 320px; 
    height: 640px;
    margin-left: 3.3rem;
}

