#whatsapp{
    width: 3rem;
    height: 3rem;
    bottom: 0.7rem;
    right: 0.7rem;
    background-size: auto;
    position: fixed;
    z-index: 999;
}

.fs-1.text-center{
    padding: 3rem;
}

#map {
    height: 400px;
    max-width: 800px;
    margin: 0 auto;
}

.leaflet-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}