body{
    background-color: #FFACC6 !important;
    font-family: 'Mukta', sans-serif !important;
}

#whatsapp{
    width: 3rem;
    height: 3rem;
    bottom: 0.7rem;
    right: 0.7rem;
    background-size: auto;
    position: fixed;
    z-index: 999;
}

nav{
    font-size: 20px;
    background-color: transparent;
}

#title_tortas{
    font-family: 'Caveat', cursive;
}

#text_tortas{
    margin: 0;
    margin-top: 3rem;
    font-family: 'Caveat', cursive;
    font-size: 1.7rem;
    color: gray;
}

.imgstortas{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 260px;
    height: 340px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 3px 3px 3px 3px #CDCBCC;
}

.card{
    border: 0px !important;
}

#title_footer{
    font-family: 'Caveat', cursive;
}