#whatsapp{
    width: 3rem;
    height: 3rem;
    bottom: 0.7rem;
    right: 0.7rem;
    background-size: auto;
    position: fixed;
}

#titulo{
    text-align: center;
    font-family: 'Skranji', cursive;
}

#navstyle{
    text-align: right;
    font-family: 'Skranji', cursive;
}